# Tệp tin này dùng để chỉ định các tệp và thư mục mà Git sẽ bỏ qua
# Các thư mục này thường được tạo ra bởi các hệ thống quản lý gói và xây dựng
# Bao gồm các thư mục không cần thiết cho phiên bản mã
node_modules/
dist/