# This file is used to specify files and directories that Git should ignore
# These directories are usually created by package managers and build systems
# Including directories that are not necessary for code versioning
node_modules/
dist/